BODY {
    background-color: WHITE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


H1 { color: BLUE;
     text-align: center;
     font-size: 40px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: normal
}
.LARGER { font-size: 120% }
.TINY { font-size: 50% }
H2 { color: #440000;
     text-align: left;
     font-family: Arial, Helvetica, sans-serif
}
H3 { color: #440000;
     text-align: left;
     font-family: Arial, Helvetica, sans-serif
}
UL { margin-top: 0;
     border-top-width: 0;
     padding-top: 0
}

P { color: BLACK;
	text-align: left;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif
}

FORM { 	color: BLACK;
		text-align: left;
		font-size: 20px;
		font-family: Arial, Helvetica, sans-serif
}

PRE { font-size: 105%;
}
CODE { font-size: 105%; 
}




.button-submit {
    border-radius: 5px;
    border: 2px solid #171717;
    background-color: #fafafa;
    color: black;
    text-align: center;
    font-weight: 600;
    text-space: 1px;
    transition: 300ms;
    animation-timing-function: ease-in-out;
}

.button-submit:hover {
    background-color: #171717;
    color: white;
}



.TOC { font-size: 90%;
       font-weight: bold;
       font-family: Arial, Helvetica, sans-serif
}
TH.COLORED { background-color: #FFAD00
}
TR.COLORED { background-color: #FFAD00
}
TH.TITLE   { background-color: #EF8429;
             font-size: 40px;
             font-family: Arial, Helvetica, sans-serif;
}
A:hover { color: red }
